<!--Bottom Navbar Partial-->

<nav class="navbar sticky-bottom navbar-dark bg-dark " >

  <div class="container-fluid">
  <!--<h6 class="display-6 navbar-text">Copyright Anureet @2021. All Rights Reserved</h6>-->
    <a class="navbar-brand" href="#" text-align>Made by Anureet Kaur.CopyRight @2021. All Rights Reserved.</a>
  </div>
</nav>
