<!--Bottom Navbar Partial-->

<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark ">
<h6 class="display-6 navbar-text">Copyright Anureet @2021. All Rights Reserved</h6>
  <div class="container-fluid">
  </div>
</nav>
</footer>