/* FileName :app.css */
/* StudentName :Anureet Kaur */
/* Student Id :301174444 */
/* Date : 4/06/2021 */
.center {
    text-align: center;
  }
  .container{
	margin-top: 25px;
    
}
.headerText{
    text-align: center;
}
