<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>


 <div class="container">
  <h1 class="headerText"> <%= title %> Me</h1>
  <div class="row">
  <div>
  <img src="/Assests/images/Anureet.jpg" alt="Nature" height="500" width="400" border-radius="50%" class="round">

<a href="/Assests/Resume/Anureet.docx" target="_blank" >Download</a>
<button type="button" class="btn btn-primary byn-lg veri" type="submit" all onclick="window.open('Assests/Resume/Anureet.docx')">
Download Resume
</button>
</div>
</div>
<br>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>