<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>


 <div class="container">
  <h1 class="headerText"> <%= title %> Me</h1>
  <hr><br><br>
  <div class="row">
  <div class="col">
  <img src="/Assests/images/Anureet.jpg" alt="Nature"  width="400">
</div>
<div class="col">
<p>
  My name is Anureet Kaur. I am from the holy city of Amritsar in Punjab province of India. I am currently studying in Software Engineering Technician program at Centennial College.My student Id is 301174444.
 <br><br>
 I have completed my Bachelors of Technology from Guru Nanak Dev University with specialization in Computer Science stream. In my bachelors , I learned about the basic of programming such as C, C++, JAVA, Oracle along with Data Structures and Software Design and Analysis.
 <br><br>
   I have worked for 4 years with DXC Technology as Product Developer. I played the role of full stack developer managing both 
   front-end i.e Angular8, JavaScript and back-end i.e C#,REST API'S,  of the application. Worked for the largest claims provider company of the world 
   i.e Crawford Inc having locations in more than 70 countries. Developed scalable functionalities for the applications for
    client based in USA and Australia.
</p>

<div class="d-grid gap-2">
  <button class="btn btn-info" type="submit" onclick="window.open('Assests/Resume/Anureet.docx')" >Download my Resume</button>
</div>
</div>
</div>
</div>
<br>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>