<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>


 <div class="container">
  <h1 class="headerText"> <%= title %> Me</h1>
  <hr><br><br>
  <div class="row">
  <div class="col">
  <img src="/Assests/images/Anureet.jpg" alt="Nature"  width="400">
</div>
<div class="col">
<p>
  My name is Anureet Kaur. I am currently studying in Software Engineering Technician program at Centennial I have worked for 4 years with DXC Technology as Product Developer.
</p>
<a href="/Assests/Resume/Anureet.docx" target="_blank" >Download</a>
<button type="button" class="btn btn-primary byn-lg veri" type="submit" all onclick="window.open('Assests/Resume/Anureet.docx')">
Download Resume
</button>
<div class="d-grid gap-2">
  <button class="btn btn-info" type="button">Download my Resume</button>
</div>
</div>
</div>
</div>
<br>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>