<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

<div class="container">
<div>
<h1 class="headerText">Contact Me</h1>
</div>
<div class="row">
<div class="col">
<form>
 <div class="mb-3">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstname">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastname">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
 <div class="mb-3">
     <label for="lastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastname">
 </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="col">
</div>
</div>
 </div>
 
 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>