<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

  <div class="container" >
    <div class="row">
  <h1 class="headerText">Welcome to the <%= title %> page</h1>
</div>
<hr>
</br>
  <div class="row">
    <div class="col-6">
    <h4>Hi, I am Anureet Kaur. </h4>
    <p style="font-size: larger;">
    I am a full stack developer having 4+ years of hands-on professional experience in 
    development of web based applications and softwares. This is my Portfolio website made using expressJS and NodeJS. 
     </p>
  </div>
  <div class="col-6">
    <img src="/Assests/images/MainLogo.PNG" height="350px">
  </div>
  </div>
  <div class="card" style="100rem">
    <div class="card-body">
      <h5 class="card-title headerText" >Mission</h5>
      <p class="card-text" style="font-size: large;">I am passionate about learning and exploring new and niche technologies.
        I want to create scalable and user-friendly websites.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <button class="btn btn-primary" onclick="window.open('/about')">Learn more About me</button>
</div>
 
 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>

