<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

  <div class="container" >
    <div class="row">
  <h1>Welcome to the <%= title %> page</h1>
</div>
<hr>
</br>
  <div class="row">
  <p>
    Hi, I am Anureet.
    I am a full stack developer, who leads from designing to developing a project
  </p>
  </div>
  <div class="card border-info mb-3" style="max-width: 50rem;"></div>
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <button class="btn btn-primary" onclick="window.open('http://localhost:3000/about')">Learn more About me</button>
</div>
 
 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>

