<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

  <div class="container" margin-top:25px>
    <div class="row">
  <h1>Welcome to the <%= title %> page</h1>
</div>
<hr>
</br>
  <div class="row">
  <p>
    Hi, I am Anureet.
    I am a full stack developer, who leads from designing to developing a project
  </p>
  </div>
  <button class="btn btn-primary" onclick="window.open('http://localhost:3000/about')">Learn more Abot me</button>
</div>
 
 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>

