<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

<div class="container">
<div>
    <h1>Projects</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/Assests/images/AssureClaim.png" class="card-img-top" alt="Assure Claims">
      <br>
      <div class="card-body">
        <h5 class="card-title">Assure Claims</h5>
        <p class="card-text">DXC Assure Claims helps insurers operating anywhere in the world simplify and speed claims adjudication and enhance the customer experience. 
            DXC Assure Claims developed in ASP..</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Worked for 4 years</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/Assests/images/JustEat.jpg" class="card-img-top" alt="Just Eat">
      <div class="card-body">
        <h5 class="card-title">Just Eat</h5>
        <p class="card-text">Food ordering and delivering website constructed using Java , Bootstrap, MySQL. Provides the restaurant owners to add or update their menu items. Allowed users to navigate through all restaurants and order food.Payment gateway also implemented.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Worked in Bachelors training</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
</div>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>