<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

<div class="container ">

</div>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>