<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

<div class="container">
<div>
    <h1 class="headerText">Projects</h1>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/Assests/images/AssureClaim.png" class="card-img-top" alt="Assure Claims">
      <br>
      <div class="card-body">
        <h5 class="card-title">Assure Claims</h5>
        <p class="card-text">DXC Assure Claims helps insurers operating anywhere in the world simplify and speed claims adjudication and enhance the customer experience. 
            DXC Assure Claims developed in ASP.NET, Web Api's, Angular 8, SQL, Oracle. Worked On this project within a team, as Product Developer handling both back-end and front end.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Worked for 4 years</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/Assests/images/JustEat.jpg" class="card-img-top" alt="Just Eat">
      <div class="card-body">
        <h5 class="card-title">Just Eat</h5>
        <p class="card-text">Food ordering and delivering website constructed using Java , Bootstrap, MySQL.It was created from scratch by me, working as Full-Stack Developer. Provides the restaurant owners to add or update their menu items. Allowed users to navigate through all restaurants and order food.Payment gateway also implemented.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Worked in Bachelors training</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Online Booking Management</h5>
        <p class="card-text">Online Booking management website created to search and book different hotels and other travel services in the user defined location. Created using .NET Core, SQL, Angular, REST Api's. Worked as a Full stack developer on this project.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Worked on 2 months ago</small>
      </div>
    </div>
  </div>
</div>
</div>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>