<!--Header Partial Included -->
<% include partials/header.ejs %>

<!--Top Navbar Partial Included -->
<% include partials/navbar.ejs %>

<div class="container">
<div>
    <h1 class="headerText">Projects</h1>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100" style="width: 18rem;">
  <img src="/Assests/images/WebDev.png" class="card-img-top" alt="WebDevelopment">
  <div class="card-body">
    <h5 class="card-title">Web Development </h5>
    <p class="card-text">Web Development involves developing websites and internet based applications. It invloves coding and programming for each layer of the applications ranging from front-end,back-end to database structures.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Client-Side Coding</li>
    <li class="list-group-item">Server-Side Coding</li>
    <li class="list-group-item">Database Technology</li>
  </ul>
</div>
</div>
<div class="col">
<div class="card h-100" style="width: 18rem;">
  <img src="/Assests/images/MeanStack" class="card-img-top" alt="Mean Stack">
  <div class="card-body">
    <h5 class="card-title">Mean Stack Development</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Angular 8</li>
    <li class="list-group-item">ExpressJS, NodeJS</li>
    <li class="list-group-item">Mongo DB</li>
  </ul>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
  <img src="/Assests/images/QA.jpg" class="card-img-top" alt="QA">
  <div class="card-body">
    <h5 class="card-title">Quality Assurance</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Selenium</li>
    <li class="list-group-item">Automation Testing</li>
    <li class="list-group-item">Software Testing</li>
  </ul>
</div>
</div>
</div>

<br><br>

 <!--Bottom Navbar Partial Included -->
 <% include partials/bottomnavbar.ejs %> 

<!--Footer Partial Included -->
 <% include partials/footer.ejs %>